.age{
    padding-right: 20px;
}

body {
    color: bisque; 
    background-color: #0b1b01;
}
label{
    padding: 24px;
    margin: 24px;
}
input{
    margin: 16px;
}

.lorem{
    background-color: #020222;
}

div{
    padding: 18px;
    margin: 16px;
    background-color: #0f1f0a;
    border-radius: 8px;
    border: 2px solid black;
}
div:hover{
    background-color: #3d0505;
    box-shadow: 3px 4px 10px rgba(104, 41, 41, 0.9); 
}

p{
    background-color: #442414;
    padding: 8px;
    margin: 16px;
}

p::before{
    content: '⌨️';
    font-size: 26px;
}

.button-frame{
    background-color: #121202;
    /* display: inline; */
}
    
.button{
    width: 16%;
    background-color: #442414;
    padding: 28px;
    margin: 16px;
    border-radius: 8px;
    border: 2px solid black;
    display: inline-block;
 
}
